<div class ="row">
    <div class="nav-wrapper blue-grey darken-1">
        <nav>
          <ul id="nav-mobile" class="left">
              <li><%= link_to "Create Curriculum", new_curriculum_path%></li>
          </ul>
        </nav>
      </div>
</div>

  <!-- Page Content goes here -->

  <div class="container">
    <h1>All Curricula </h1>
    <div class="row">
      <%@curricula.each do |curriculum|%>
        <div class="col s3">
            <ul>
              <li>
                <div class="card indigo lighten-5">
                  <div class="card-content white-text">
                    <span class="card-title"><%=curriculum.title%></span>
                      <p><img class="responsive-img" src='<%=curriculum.img_url%>'</p>
                  </div>
                <div class="card-action">
                <%=link_to "View Books", curriculum_path(curriculum)%>
                </div>
          </div>


              </li>
            </ul>
          </div>
          <%end%>
      </div>
    </div>
  </div>
