<div class ="row">
    <div class="nav-wrapper blue-grey darken-1">
        <nav>
          <ul id="nav-mobile" class="left">
              <li><%= link_to "Create Curriculum", new_curriculum_path%></li>
              <li><%= link_to "Edit Curriculum", new_book_path%></li>
          </ul>
        </nav>
    </div>
</div>

  <!-- Page Content goes here -->
  <div class="container">
    <h1>All Curricula </h1>

    <% @curricula.each do |curriculum|%>
      <li>"<%=link_to curriculum.title, curriculum_path(curriculum) %>"</li>
      <%= curriculum.user.name%>
    <%end%>
  </div>
