<div class ="row">
    <div class="nav-wrapper blue-grey darken-1">
        <nav>
          <ul id="nav-mobile" class="left">
              <li><%= link_to "Create Curriculum", new_curriculum_path%></li>
          </ul>
        </nav>
      </div>
</div>

  <!-- Page Content goes here -->

  <div class="container">
    <h1>All Curricula </h1>
    <div class="row">
      <%@curricula.each do |curriculum|%>
        <div class="col s3">
            <ul>
              <li>

                  <div class="card" style=:overflow>
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="<%=curriculum.img_url%>">
                    </div>

                    <div class="card-content">
                      <span class="card-title white-text text-darken-4"><%=curriculum.title%><i class="material-icons right"></i></span>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(-100px);">
                      <span class="card-title white-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>

              </li>
            </ul>
          </div>
          <%end%>
      </div>
    </div>
  </div>
