<div class ="row">
    <div class="nav-wrapper">
        <nav>
          <ul id="nav-mobile" class="left">
              <li><%= link_to "Create Curriculum", new_curriculum_path%></li>
          </ul>
        </nav>
      </div>
</div>

  <!-- Page Content goes here -->

  <div class="container">
    <h1>All Curricula </h1>
    <div class="row">
      <%@curricula.each do |curriculum|%>
        <div class="col s3">
              <ul>
                <li>
                  <a href="<%=curriculum_path(curriculum)%>">
                    <div class="card-panel hoverable indigo lighten-5">
                      <div class="card-image">
                        <img src="<%=curriculum.img_url%>" class="responsive-img" style="height:110px;  overflow:hidden" >
                        <span class="card-title"><%=curriculum.title%></span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
          </div>
          <%end%>
      </div>
    </div>
  </div>
