<div class="container">


  <div class='row'>
    <!-- <%@users.each do |user|%> -->
      <div class='col s12'>
        <ul>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
                <ul class="col s3">
                  <img src="<%=user.img_url%>" class="circle responsice-img">

                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <!-- <%end%> -->
    <div class='col s12'>
      <h4>Explore top users!</h4>

    </div>               <!-- notice the "circle" class -->
  </div>
</div>
