
  <div class='col s2'>
    <ul>
      <li><img src="http://internetbusinessmastermind.com/wp-content/uploads/barack-obama-official.jpg" alt="" class="circle responsive-img"></li>
      <li><img src="https://ffbsccn.files.wordpress.com/2013/08/jeffbezosceo_lg_jpg_280x280_crop_q95-1.jpg" alt="" class="circle responsive-img"></li>
      <li><img src="https://www.looktothestars.org/photo/8354-elon-musk/story_half_width.jpg" alt="" class="circle responsive-img"></li>

    </ul>
  </div>               <!-- notice the "circle" class -->
