<div class ="row">
    <div class="nav-wrapper blue-grey darken-1">
        <nav>
          <ul id="nav-mobile" class="left">
              <li><%= link_to "Browse Subjects", subjects_path%></li>
              <li><%= link_to "Create Book", new_book_path%></li>
          </ul>
        </nav>
    </div>
</div>



<div class="container">
  <h1>All Books</h1>
  <% @books.each do |book|%>
  <li>"<%=link_to book.title, book_path(book) %>", by <%= book.author%>    </li>
  <%end%>
</div>
