<div class ="container">
  <h1>All Subjects</h1>
  <div class="row">
    <% @subjects.each do |subject|%>
      <div class="col s3">
        <ul>
            <a href="<%=subject_path(subject)%>">
              <div class="card-panel hoverable"><br>
                <div class="card-image">
                  <img src="<%=subject.img_url%>" class="responsive-img">
                  <span class="card-title"><%=subject.name%></span>
                </div>
              </div>
            </a>
        </ul>
      </div>
    <%end%>
  </div>
</div>
