<div class ="container">
  <h1>All Subjects</h1>
  <div class="row">
    <% @subjects.each do |subject|%>
      <div class="col s3">
        <ul>
          <div class="card-panel hoverable"><li><%= link_to subject.name, subject_path(subject) %> </li>><br>
        </ul>
      </div>
    <%end%>
  </div>
</div>
