<h1><%=@subject.name%></h1>
<h5>Number of Books: <%= @subject.book_count%></h5>

<ul>
  <% @subject.books.each do |book|%>
<li>"<%= link_to book.title, book_path(book) %>", by <%=book.author%></li>

  <%end%>

</ul>

<!-- print subject .books -->
